body {
    font-family: Arial, sans-serif;
    background-color: #000;
    margin: 0;
    padding: 20px;
    color: #fff;
    overflow: hidden;
}

h1 {
    text-align: center;
}

.logo-container {
    text-align: center;
    margin-top: 20px;
}

.logo {
    max-width: 300px;
    height: auto;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.movie {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 150px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.movie img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.movie:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.snowfall {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.snowflake {
    position: fixed;
    top: -50px;
    color: white;
    animation: fall linear infinite;
    z-index: 9999;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

/* Custom Scrollbar Styling */
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 8px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

/* Hide Scrollbar but Allow Scrolling */
body {
    scrollbar-width: none; /* For Firefox */
}

body::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
}

/* Media Queries */
@media (min-width: 1024px) {
    .movie {
        width: 150px;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .movie {
        width: 200px;
    }
}

@media (max-width: 768px) {
    .movie {
        width: 100%;
    }
}
